# Edited by hand 
#
# export all string-named functions
exportPattern("^[[:alpha:]]+")
export(dLogPosterior)
export(gc_assign)
export(gc_env)
export(gc_get)
export(initial_files)
export(list_target_and_fit_plots)
export(load_start)
export(model_fits)
export(my_mcmc)
export(plot_posteriors)
import(cowplot)
import(ggplot2)
import(grid)
import(gridExtra)
import(lemon)
import(patchwork)
import(reshape2)
import(magrittr)
importFrom(Rcpp,sourceCpp)
useDynLib(gcRegional)
